body{
  color: #40514E;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather',sans-serif;
}
h1{
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento',helvetica;
  line-height: 20px;
}
hr{
  border: dotted black 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}
.top-container{
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
  color: #4ab19a;
}
.top-cloud{
  position: absolute;
  right: 250px;
  top: 25%;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 310px;
}
.mountain{
  margin-top: 150px;
}
.profile-img{
  margin-top: 25px;
}
.middle-container{
  width: 50%;
  margin: 100px auto;
}
.profile p{
  font-size: 1.2em;
  text-align: center;
  font-family: 'adobe-garamond-pro',helvetica;
}
.skill-row{
  width: 85%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  clear: both;
}
.computer{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin: 30px 30px 0 0;
}
.chillies{
  width: 25%;
  border-radius: 50%;
  float: right;
  margin: 30px 0 0 30px;
}
.skills{
  margin-top: 100px;
}
.skills h2,h3{
  color: #4ab19a;
}
.contact-me h2{
    color: #4ab19a;
}
.btn{
  background-color: #4ab19a;
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
.btn:hover{
  background-color: grey;
}
.message{
  width: 50%;
 margin: 40px auto 60px;
}
.bottom-container{
   background-color: #e0ebe8;
   color: #4ab19a;
   padding: 50px 0 50px
}
a{
  color:#4ab19a;
  margin: 10px 50px;
  text-decoration: none;
  padding: 20px;
  font-family: 'Montserrat',sans-serif;
}
a:hover{
  color: blue;

}
.copy{
  margin-top: 50px;
  font-size: 15px;
}
.copy small{
  color: black;
}
